{
    "extends": "rallycoding",
    "rules": {
        "max-len": "off",
        "no-underscore-dangle": "off",
        "no-unused-vars": "off",
        "arrow-body-style":"off",
        "no-undef":"off"
    },
    "globals": {
        "fetch": false,
        "alert": false,
        "dispatch": false,
        "window": true
    }
}